<header class="container" >
  <nav class="navbar-default navbar-fixed-top">
  <div class="navbar-header">
    <ul id="wideMenu"  class="nav navbar-nav" ng-show="keepShowMenu" ng-click="showAsidePage()" >
      <li style="cursor: pointer; cursor: hand;" data-container="self" data-trigger="click">
        <a>
        <!--
          <span ng-show="loggedIn"><img ng-show="loggedIn.fbId" id="profileImg" src="//graph.facebook.com/{{loggedIn.fbId}}/picture"> {{loggedIn.firstName ? loggedIn.firstName : "會員中心"}}</span> 
           ng-class="{ active: isActive(urlState.CHECKOUT.pathUrl)}" 
        -->
        <span ng-show="loggedIn" ><img style="height: 24px; width: 30px;" id="profileImg" src="content/images/menu.png" ></span> 
        </a>
      </li>
    </ul>
    <row>
      <img style="height: 36px; width: 45px;" ng-hide="keepShowMenu" src="content/images/menu.png" class="img-responsive pull-left " ng-click="showAsidePage()">
      <a href="/app/homepage" ng-show="keepShowMenu" ><img style="height: 60px" class="img-responsive pull-left " src="content/images/logo211.jpg"/></a>
      <a href="/app/homepage" ng-hide="keepShowMenu"><h5>{{PAGE_TITLE}}</h5></a>
    </row>
    </div>
    <ul id="wideMenu" class="nav navbar-nav navbar-right" ng-show="keepShowMenu" >
      <li style="cursor: pointer; cursor: hand;"  ng-hide="loggedIn" ><a ui-sref="{{urlState.LOGIN.stateName}}">登入</a></li>
      <li style="cursor: pointer; cursor: hand;"><a ng-href='{{blogUrl}}'>部落格</a></li>
      <li style="cursor: pointer; cursor: hand;"><a ng-href='{{farmerUrl}}'>本週小農</a></li>
      <li style="cursor: pointer; cursor: hand;"><a ui-sref="{{urlState.CHECKOUT.stateName}}" style="font-size: 20px; color: #ff5722">購買水果箱</a></li>
    </ul>
  </nav>
</header>
<section class="container" id="mcontainer" ui-view>
</section>
<footer class="container" class="footer" id="footer">
  <div id="spinDiv" class="fullscreen" style="display:none;position:absolute;z-index:200000000"><span id="spinDivText" class="centerOfScrren"></span></div>
  <p>Copyright 2015果物配| All Rights Reserved | <br>
     info@fruitpay.com.tw| Tel: 02-2338-0958| 台北市松山區南京東路四段197號7F
  </p>
</footer>