
<header class="container" >
	<nav class="navbar-default navbar-fixed-top">
		<div class="navbar-header">
			<a class="pull-left" href="#$" ><img class="img-responsive" src="images/logo211.jpg"/></a>
			<span id="menuButton" ng-click="isShowMenu=!isShowMenu"
					class="glyphicon glyphicon glyphicon-menu-hamburger" aria-hidden="true">
			</span>
		</div>
		<ul id="wideMenu"  class="nav navbar-nav navbar-right" ng-show="isShowMenu">
			<li ng-class="{ active: isActive('/index/checkout')}" data-match-route="/page-one"><a ui-sref="index.checkout">果物箱</a></li>
			<li ng-class="{ active: isActive('/index/user')}" data-match-route="/page-five" bs-dropdown="dropdown" data-container="self" data-trigger="hover" >
				<a ui-sref="index.user.info">
					<span ng-hide="loggedIn"><span class="glyphicon glyphicon-log-in"></span> 會員中心</span>
					<span ng-show="loggedIn"><img ng-show="loggedIn.fbId" id="profileImg" src="//graph.facebook.com/{{loggedIn.fbId}}/picture"> {{loggedIn.firstName}}</span>
				</a>
				
			</li>
		</ul>
	</nav>
</header>

<section class="container" ui-view></section>

<footer class="container" class="footer" id="footer">
	<p>Copyright 2015果物配| All Rights Reserved | <br>
	   info@fruitpay.com.tw| Tel: 02-2338-0958| 台北市松山區南京東路四段197號7F
	</p>
</footer>
