

<div class="container">	

	<div class="container-fluid sectionDiv onepageElement secondLayerStart active">
		<h1>選擇方案</h1>
		<hr/>
		<div class="row planDiv">
			<div class="col-xs-12 col-sm-6 itemDiv" ng-repeat="orderProgram in orderPrograms" 
				ng-class="{active:order.orderProgram.programId==orderProgram.programId}">
				<table class="table" ng-click="itemClickThenCaculateTotalPrice(orderProgram.programId,$event)" >
					<thead>
						<tr>
							<th><h1>{{orderProgram.programName}}</h1></th>
						</tr>
						<tr>
							<td><img class="img-responsive" ng-src="{{orderProgram.imgLink}}"/></td>
						</tr>
						<tr>
							<th >$ <span class="productPriceSpan">{{orderProgram.price}}</span> 元/週</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-bind-html="orderProgram.programDesc" style="text-align:center;">
						</tr>
						<tr>
							<td>
								<span ng-repeat="shipmentPeriod in shipmentPeriods" class="periodChooseSpan" ng-click="periodChoose(shipmentPeriod.periodId)" 
										ng-class="{active:order.shipmentPeriod.periodId==shipmentPeriod.periodId && order.orderProgram.programId==orderProgram.programId}" 
										data-placement="bottom" data-title="{{shipmentPeriod.periodDesc}}" bs-tooltip>
									<input style="display:none;" type="radio" ng-model="order.shipmentPeriod" ng-value="shipmentPeriod" /> 
									{{shipmentPeriod.periodName}}
								</span>
							</td>
						</tr>
					</tbody>
				</table>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="order.orderProgram&&order.orderProgram.programId==orderProgram.programId">
					<h3 align="center">
						<label for="programNum">數量</label>
						<input type="number" id="programNumInput" style="width:50px;" name="programNum" ng-model="order.programNum" ng-change="checkProgramNumThenCalulateTotalPrice()" />
					</h3>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid sectionDiv onepageElement secondLayerStart" id="productsDiv">
		<div class="row">
			<div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
				<h1>水果喜好</h1>
			</div>
			<div class="col-xs-12 col-sm-9 col-md-10 col-lg-10">
				<h1 align="left">
					<font size="3px;">可以選擇您不希望收到的水果，最多{{maxUnlikeCount}}種&nbsp;</font>
					<font size="3px;">&nbsp;<input type="checkbox" ng-model="isAllChosen" ng-click="unselectAllRemoveProdcut()">我不挑食喔</font>
				</h1>
			</div>
		</div>
		<hr/>
			<ul rn-carousel rn-carousel-index="carouselIndex">
				<li ng-repeat="slide in order.slides">
					<div class="row productRow">
						<div class="col-xs-4 col-sm-3 col-md-2 col-lg-2" ng-repeat="n in range(1,imageNum, $index, order.totalImageAmount)" ng-click="setLikeDegree(slide[getImageName(n)])">
							<img ng-src="{{slide[getImageName(n)].product.imageLink}}" class="img-rounded" ng-class="{active:slide[getImageName(n)].likeDegree == 0}"
								/>
							<div class="desc">
            					<p class="desc_content">{{slide[getImageName(n)].product.productName}}</p>
        					</div>
							<span class="glyphicon glyphicon-remove" ng-class="{active:slide[getImageName(n)].likeDegree == 0}"></span>
						</div>
					</div>
				</li>
				<span class="glyphicon glyphicon-chevron-left fruitpayArray" id="fruitpayArrayLeft" ng-click="fruitLeft()"></span>
				<span class="glyphicon glyphicon-chevron-right fruitpayArray" id="fruitpayArrayRight" ng-click="fruitRight()"></span>
			</ul>
			<div id="indicatorDiv">
				<div rn-carousel-indicators ng-if="order.slides.length > 1" slides="order.slides" rn-carousel-index="carouselIndex"></div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group form-inline">
					<h4>因為營養均衡的考量，我們會搭配台灣較少種植的進口水果如:蘋果、奇異果。<br>如您不希望收到進口水果請打勾<span><input type="checkbox" class="form-control" ng-model="order.allowForeignFruit" ng-change="changeForeignFruit()"></span></h4>	
				</div>	
			</div>
	</div>
	<div class="container-fluid sectionDiv onepageElement secondLayerStart">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-hide="isLoggedIn">
			<h4>已是會員嗎? 請<a href="javascript:void(0);" ng-click="login();">點擊</a></button>登入</h4>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
			<div class="row">
				<div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
					<h1>訂購人資訊</h1>
				</div>
			</div>
			<hr/>
		<form role="form" name="checkoutForm" novalidate >
			<div class="row">
				<div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
					<label for="fisrtName">姓名:</label>
				</div>
				<div class="col-xs-5 col-sm-3 col-md-3 col-lg-2">
					<input type="text" class="form-control input-xs" placeholder="姓氏" ng-class="{submitted:checkoutForm.submitted}" ng-model="user.lastName" required>
				</div>
				<div class="col-xs-7 col-sm-5 col-md-4 col-lg-3">
					<input type="text" class="form-control input-xs" placeholder="名字" ng-class="{submitted:checkoutForm.submitted}" ng-model="user.firstName" required>
				</div>
				<div class="col-xs-4 col-sm-3 col-md-1 col-lg-2 form-inline radioDiv">
					<input type="radio" class="form-control" name="gender" value="F" ng-model="user.gender"> 
					<label for="sex">小姐</label>
				</div>
				<div class="col-xs-4 col-sm-3 col-md-1 col-lg-2 form-inline radioDiv">
					<input type="radio" class="form-control" name="user.gender" value="M" ng-model="user.gender"> 
					<label for="sex">先生</label>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
					<label for="password">電話:</label>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-5 col-lg-5">
					<input type="text" class="form-control input-xs" placeholder="連絡手機" ng-class="{submitted:checkoutForm.submitted}" ng-model="user.cellphone" required>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-5 col-lg-5">
					<input type="text" class="form-control input-xs" placeholder="家裡電話" ng-class="{submitted:checkoutForm.submitted}" ng-model="user.housePhone">
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
					<label for="address">地址:</label>
				</div>
				<div class="col-xs-12 col-sm-9 col-md-10 col-lg-10 form-group form-inline">
					<select ng-options="postalCode.fullName for postalCode in postalCodeList track by postalCode.postId" ng-model="user.postalCode" >
					</select>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-0 col-sm-3 col-md-2 col-lg-2">
				</div>
				<div class="col-xs-12 col-sm-9 col-md-10 col-lg-10">
					<input type="text" class="form-control input-xs" placeholder="地址" id="address" ng-class="{submitted:checkoutForm.submitted}" ng-model="user.address" required>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
			<div class="row">
				<div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
					<h1>收件人資訊</h1>
				</div>
				<div class="col-xs-8 col-sm-6 col-md-6 col-lg-6 form-inline">
					<h1 align="left">
						<font size="3px">同上請打勾:</font> 
						<input type="checkbox" class="form-control" ng-model="confirmed" ng-change="change()">
					</h1>
				</div>
			</div>
			<hr/>
			<form role="form">
				<div class="row">
					<div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
						<label for="password"> 姓名:</label>
					</div>
					<div class="col-xs-5 col-sm-3 col-md-3 col-lg-2">
						<input type="text" class="form-control input-xs" placeholder="姓氏" ng-class="{submitted:checkoutForm.submitted}" ng-model="order.receiverLastName" required>
					</div>
					<div class="col-xs-7 col-sm-5 col-md-4 col-lg-3">
						<input type="text" class="form-control input-xs" placeholder="名字" ng-class="{submitted:checkoutForm.submitted}" ng-model="order.receiverFirstName" required>
					</div>
					<div class="col-xs-4 col-sm-3 col-md-1 col-lg-2 form-inline">
						<input type="radio" class="form-control" name="receiver_gender" value="F" ng-model="order.receiverGender" checked> 
						<label for="receiver_gender">小姐</label>
					</div>
					<div class="col-xs-4 col-sm-3 col-md-1 col-lg-2 form-inline">
						<input type="radio" class="form-control" name="receiver_gender" value="M" ng-model="order.receiverGender"> 
						<label for="receiver_gender">先生</label>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
						<label for="password">電話:</label>
					</div>
					<div class="col-xs-12 col-sm-4 col-md-5 col-lg-5">
						<input type="text" class="form-control input-xs" placeholder="收貨人手機" ng-class="{submitted:checkoutForm.submitted}" ng-model="order.receiverCellphone" required>
					</div>
					<div class="col-xs-12 col-sm-4 col-md-5 col-lg-5">
						<input type="text" class="form-control input-xs" placeholder="收貨人電話" ng-class="{submitted:checkoutForm.submitted}" ng-model="order.receiverHousePhone">
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
						<label for="address">地址:</label>
					</div>
					<div class="col-xs-12 col-sm-9 col-md-10 col-lg-10 form-group">
						<select ng-options="postalCode.fullName for postalCode in postalCodeList track by postalCode.postId" ng-model="order.postalCode">
						</select>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-0 col-sm-3 col-md-2 col-lg-2">
					</div>
					<div class="col-xs-12 col-sm-9 col-md-10 col-lg-10">
						<input type="text" class="form-control input-xs" placeholder="地址" id="address" ng-class="{submitted:checkoutForm.submitted}" ng-model="order.receiverAddress" required>
					</div>
				</div>
				<div class="row">
				<div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
					<h1>配送資訊</h1>
				</div>
			</div>
			<hr/>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-3 col-lg-2">
					<label for="receiveWay">{{receiveWay.constName}}:</label>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
					<select name="receiveWay" ng-options="option.optionDesc for option in receiveWay.constOptions track by option.optionId" ng-model="order.receiveWay">
					</select>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-3 col-lg-2">
					<label for="shipmentTime">{{shipmentTime.constName}}:</label>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
					<select name="shipmentTime" ng-options="option.optionDesc for option in shipmentTime.constOptions track by option.optionId" ng-model="order.shipmentTime">
					</select>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-3 col-lg-2">
					<label for="comingFrom">{{comingFrom.constName}}:</label>
				</div>
				<div  class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
					<select name="comingFrom" ng-options="option.optionDesc for option in comingFrom.constOptions track by option.optionId" ng-model="order.comingFrom">
					</select>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-3 col-lg-2">
					<label for="deliveryDay">{{deliveryDay.constName}}:</label>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-9 col-lg-10">
					<select name="deliveryDay" ng-options="option.optionDesc for option in deliveryDay.constOptions track by option.optionId" ng-model="order.deliveryDay" ng-change="deliveryDayChange()" >
					</select>
					當週配送日前四天訂購可當週送達，其餘隔週送達
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-3 col-lg-2">
					<label for="paymentMode">溫馨提醒:</label>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-9 col-lg-10" >
					<h4>您的第一次配送時間:<font color="green">{{firstReceiveDay}}({{dayOfWeek}})</font></h4>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-3 col-sm-3 col-md-2 col-lg-2">
					<label for="note">備註:</label>
				</div>
				<div class="col-xs-9 col-sm-9 col-md-10 col-lg-10">
					<input type="text" class="form-control" id="note" placeholder="運送時的特殊需求，或是注意事項" ng-model="order.remark" >
				</div>
			</div>
			<br>
	</div>
	</div>
	<div id="section-3" class="container-fluid sectionDiv onepageElement secondLayerStart">
		<h1>結帳方式</h1>
		<hr/>
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
					<label for="paymentMode">優惠券:</label>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-8 col-lg-10">
					<h4><input type="text" class="form-control" placeholder="請輸入優惠券號碼" ng-model="couponInput" ng-change="onCouponChange()" ng-blur="onCouponBlur()"/></h4>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
				<div class="row" ng-show="order.orderProgram">
					<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
						<label for="paymentMode">金額:</label>
					</div>
					<div class="col-xs-12 col-sm-10 col-md-10 col-lg-10" align="left">
						<div class="row">
							<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
								<h4>項目</h4>
							</div>
							<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
								<h4 align="right">價格</h4>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
								<h4>{{order.orderProgram.programName}}</h4>
							</div>
							<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
								<h4 align="right">{{order.orderProgram.price * order.programNum}}</h4>
							</div>
						</div>
						<div class="row" ng-repeat="coupon in order.coupons">
							<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
								<h4>{{coupon.couponDesc}}</h4>
							</div>
							<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
								<h4 align="right">- {{coupon.discountAmount}}</h4>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
								<h4>小計</h4>
							</div>
							<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
								<h4 align="right">NT {{totalPriceWithoutShipment}}</h4>
							</div>
						</div>
						<div class="row" ng-show="order.orderProgram && order.paymentMode.paymentModeId==2">
							<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
								<h4>{{order.paymentMode.paymentModeName}}</h4>
							</div>
							<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
								<h4 align="right">{{order.paymentMode.paymentExtraPrice}}</h4>
							</div>
						</div>
						<hr>
						<div class="row">
							<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
								<h4>合計</h4>
							</div>
							<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
								<h4 align="right">NT {{totalPrice}}</h4>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<hr/>
		<div class="row">
			<div class="col-xs-12 col-sm-2 col-md-2 col-lg-1">
				<label for="paymentMode">付款方式:</label>
			</div>
			<div class="col-xs-12 col-sm-10 col-md-10 col-lg-11" align="left">
				<div class="row" ng-repeat="paymentMode in paymentModes">
					<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 form-inline radioDiv">
						<input type="radio" class="form-control" name="paymentMode" ng-value="paymentMode" ng-checked="order.paymentMode.paymentModeId==paymentMode.paymentModeId" ng-class="{submitted:checkoutForm.submitted}" ng-model="order.paymentMode" ng-change="calulateTotalPrice()" required> 
						<label for="paymentMode"> {{paymentMode.paymentModeName}}</label>
					</div>
					<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9 form-inline">
						<div class="slide-toggle payMethodDesc" ng-show="order.paymentMode.paymentModeId==paymentMode.paymentModeId">
							<h4 ng-bind-html="paymentMode.paymentModeDesc"></h4>
						</div>
					</div>
				</div>
			</div>
		</div>
		<hr/>
		<div class="row">
			<div class="col-xs-12 col-sm-2 col-md-2 col-lg-1">
				<label for="receiptWay">{{receiptWay.constName}}:</label>
			</div>
			<div class="col-xs-12 col-sm-10 col-md-10 col-lg-11" align="left">
				<div class="row" ng-repeat="option in receiptWay.constOptions">
					<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 form-inline radioDiv">
						<input type="radio" class="form-control" name="receiptWay" ng-value="option" ng-checked="order.receiptWay.optionId==option.optionId" ng-class="{submitted:checkoutForm.submitted}" ng-model="order.receiptWay" ng-required="!order.receiptWay"> 
						<label for="receiptway"> {{option.optionName}}</label>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-4 col-sm-2 col-md-1 col-lg-1">
						<label for="receiptTitle">抬頭:</label>
					</div>
					<div class="col-xs-8 col-sm-10 col-md-3 col-lg-3">
						<input type="text" class="form-control" id="receiptTitle" ng-model="order.receiptTitle" placeholder="統一編號抬頭">
					</div>
					<div class="col-xs-4 col-sm-2 col-md-2 col-lg-2">
						<label for="receiptVatNumber">統一編號:</label>
					</div>
					<div class="col-xs-8 col-sm-10 col-md-3 col-lg-3">
						<input type="text" class="form-control" id="receiptVatNumber" ng-model="order.receiptVatNumber" placeholder="統一編號">
					</div>
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<span style="color:red" ng-show="checkoutForm.$invalid && checkoutForm.submitted">
                    <span>您還有欄位還沒填寫喔</span>          
                </span>   
			</div>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<span style="color:red" ng-show="checkoutForm.submitted && !order.orderProgram">
                    <span>您的方案還沒選擇喔</span>          
                </span>   
			</div>
			<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
				<button class="btn btn-success" ng-click="onCheckoutSubmit()"><h3>下單購買</h3></button>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
				<h3><input type="checkbox" name="confirmContract" ng-model="confirmContract" > 您已閱讀並接受我們的<a href="http://fruitpay.com.tw/rules/" target="_blank">使用條款</h3></a>
			</div>
		</div>
		</form>
		<br>
		<div style="display:none;">
			<form id="allpayCheckoutForm" action="{{ checkoutUrl }}" method="post">
				<input type="text" id="orderId" name="orderId" value="" />
				<input type="text" id="programId" name="programId" value="" />
				<input type="text" id="price" name="price" value="" />
				<input type="text" id="duration" name="duration" value="" />
				<input type="submit" value="送出">
			</form>
		</div>
	</div>
</div>
