<div class="container">	
	<div class="container-fluid secondLayerStart">
		<h1>忘記密碼</h1>
		<hr/>
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<h3>請填入您申請會員的信箱，我們將會寄出一封密碼變更通知到您的信箱<br>請在收到後儘速登入並更改密碼</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-2 col-sm-3 col-md-2 col-lg-2">
				<label for="email">信箱:</label>
			</div>
			<div class="col-xs-7 col-sm-9 col-md-4 col-lg-5">
				<input type="email" class="form-control" placeholder="信箱" name="email" ng-model="email" required>
			</div>
			<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
				<button class="btn btn-success" ng-click="forgetPassword()">送出</button>
			</div>
		</div>
	</div>
</div>