    <div id="login-overlay" class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title" id="myModalLabel">會員登入</h4>
          </div>
          <div class="modal-body">
              <div class="row">         
                  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                      <div class="well">
              <button class="btn btn btn-primary btn-block" style="background-color:#6d84b4" ng-click="onFbLogin()" >Facebook登入</button>
                          <form name="loginForm" role="form" ng-submit="onLoginSubmit()" novalidate >
                <div class="checkbox">
                                  <label>
                                      <input type="checkbox" name="hasAccount" id="hasAccount" ng-model="hasAccount"> 已有帳號
                                  </label>
                              </div>
                              <div class="form-group">
                                  <label for="email" class="control-label">信箱</label>
                  <span style="color:red" ng-show="loginForm.email.$dirty && loginForm.email.$invalid">
                    <span ng-show="loginForm.email.$error.required">信箱為空</span>
                    <span ng-show="loginForm.email.$error.email">信箱格式錯誤</span>           
                  </span>  
                                  <input type="email" class="form-control" id="email" name="email" value="" ng-model="user.email" required="" title="請輸入信箱" placeholder="example@gmail.com">
                              </div>
                              <div class="form-group">
                                  <label for="password" class="control-label">密碼</label>
                  <span style="color:red" ng-show="loginForm.password.$dirty && loginForm.password.$invalid">
                    <span ng-show="loginForm.password.$error.required">密碼為空</span>   
                    <span ng-show="loginForm.password.$error.minlength">密碼至少為六碼</span>         
                  </span>    
                                  <input type="password" class="form-control" id="password" name="password" ng-model="user.password" value="" required="" ng-minlength="6" title="請輸入密碼" placeholder="請輸入密碼">
                                  <span class="help-block"></span>
                              </div>
                              <div style="color:red"> 
                  <span ng-show="(loginForm.email.$invalid || loginForm.password.$invalid) && loginForm.submitted">欄位還沒輸入完喔</span><br>
                  <span ng-show="loginForm.$error.matched && loginForm.submitted">信箱或密碼錯誤</span>
                  </div>
                <div class="checkbox">
                                  <label>
                                      <input type="checkbox" name="remember" id="remember"> 記住我
                                  </label>
                              </div>
                              <button class="btn btn-success btn-block" ng-show="hasAccount" >登入</button>
                <button class="btn btn-info btn-block" ng-hide="hasAccount">註冊</button>
                <a href="javascript:void(0);" ng-click="openForgetPasswordPage();">忘記密碼</a>
                          </form>
                      </div>
                  </div>
                  <div class="col-xs-12 hidden-xs col-sm-6 col-md-6 col-lg-6">
            <div class="row">   
                  <div class="col-xs-6 col-sm-6 col-md-12 col-lg-12">
                  <p class="lead"><span class="text-success">會員</span>的服務</p>
                </div>
              <div class="col-xs-6 col-sm-6 col-md-12 col-lg-12">
                  <ul class="list-unstyled" style="line-height: 2">
                  <li><span class="fa fa-check text-success"></span> 追蹤訂單</li>
                  <li><span class="fa fa-check text-success"></span> 紀錄水果喜好</li>
                  <li><span class="fa fa-check text-success"></span> 不定期優惠活動</li>
                  <li><span class="fa fa-check text-success"></span> 快速結帳</li>
                </ul>
                                    <button class="btn btn-primary" ng-click="closeModal()">關閉</button>
              </div>
            </div>
                  </div>
              </div>
          </div>
      </div>
  </div>