<div class="container">	
	<div class="container-fluid">
		<center ng-show="keepShowTitle"><h2><img style="height: 30px; width: 30px" src="content/images/move_by_trolley.png">&nbsp;&nbsp;配送管理</h2><hr/></center>
		
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
			<h4>訂單編號
			<select ng-model="selectedOrder" ng-options="m.orderId for m in orders" ng-change="optionIdChange()">
				<option value="">- - 請選擇 - -</option>
			</select>
      </h4>
      <span class="glyphicon glyphicon-question-sign" style="font-size:24px;cursor=pointer;" data-placement="bottom" data-title="不會操作嗎？請點擊我" data-trigger='hover' bs-tooltip ng-click="showInfo()"></span>
			<fdatepickk highlight="highlight" ><fdatepickk>
		</div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <h4>異動訂單：</h4>
			<table class="table table-hover table-responsive" >
				<thead>
					<tr>
						<th>配送日期</th>
						<th>狀態</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="shipment in userShipmentChange">
						<td>{{shipment.applyDate | date:'yyyy-MM-dd HH:mm'}}</td>
						<td>{{shipment.shipmentChangeType.optionDesc}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>