<div class="container">	
	<div class="container-fluid">
		<h3>訂單</h3>
		<table class="table table-hover table-responsive" ng-init="getOrder()">
			<thead>
				<tr>
					<th>訂單號碼</th>
					<th>方案名稱</th>
					<th>配送頻率</th>
					<th>折價券</th>
					<th>總價</th>
					<th>訂購開始日</th>
					<th>狀態</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="order in userOrders">
					<td>{{order.orderId}}</td>
					<td>{{order.orderProgram.programName}}</td>
					<td>{{order.shipmentPeriod.periodName}}</td>
					<th>
						<div ng-show="order.coupons.length == 0">無</div>
						<div ng-repeat="coupon in order.coupons">{{coupon.couponDesc}}</div>
					</th>
					<td>{{order.totalPrice}}</td>
					<td>{{order.orderDate}}</td>
					<td>{{order.orderStatus.orderStatusName}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>