<div id="login-overlay" class="modal-dialog">
    <!--<div class="modal-content">-->
        <!--<div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">訂單編號 {{order.orderId}}</h4>
        </div>-->
        <!--<div class="modal-body">-->
            <center>
              <!--運送異動 {{shipmentChange}}-->
              <!--訂單編號 {{order}}-->
              <!--訂單日期 {{shipemntDate}}-->
              <button class="btn btn-primary" style="background-color: orange; border-color: orange; " ng-click="addChange('shipmentPulse')" >暫停</button>&nbsp;
              <button class="btn btn-primary" style="background-color: orange; border-color: orange; " ng-click="addChange('shipmentCancel')" >取消</button>&nbsp;
              <button class="btn btn-primary" style="background-color: orange; border-color: orange; " ng-click="closeModal()" >關閉</button>
            </center>
        <!--</div>-->
    <!--</div>-->
</div>