/*暫停 ok*/
.pulseDate{
	border : 1.5px solid red;
	border-radius : 50%;
	text-align : center;
	padding : 5px;
	width : 40%;
}
/*需配送 ok*/
.deliverDate{
	border : 1.5px solid green;
	border-radius : 50%;
	text-align : center;
	padding : 5px;
	width : 40%;
}
/*已配送*/
.deliveredDate{
	border : 1.5px solid blue;
	border-radius : 50%;
	text-align : center;
	padding : 5px;
	width : 40%;
}
/*取消 ok */
.cancelDate{
	border : 1.5px solid blue;
	border-radius : 50%;
	text-align : center;
	padding : 5px;
	width : 40%;
}